.root {
    padding: 7px 0;
    background: var(--bg-color);
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo {
            img {
                width: 30px;
                height: 30px;
            }
        }
        &__profile {
            img {
                width: 32px;
                height: 32px;
            }
        }
    }
}
