@import url("./reset.scss");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;800;900&family=Titillium+Web:wght@200;400;600;700;900&display=swap");

body {
    font-family: Inter;
}

#root {
    height: 100%;
}

body {
    --content-color: #fff;
    --bg-color: #111;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
